
section.slider {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

.slider__content {
    display: flex;
    position: absolute;
    width: 400%;
    height: auto;    
    top: 144px;
}

.slider__content input, 
.img__desktop, 
.img__tablet {
    display: none;
}

.slide__box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 0.5s;
}

.slide__box img {
    width: 100%;
    
}

.slider__manual, 
.slider__auto {
    position: absolute;
    width: 100%;    
    margin-top: 197px;
    margin-left: 42px; 
    display: flex;
    gap: 114px;
    justify-content: flex-start;
}

.slider__manual .manual__btn, .slider__auto div {    
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

/*.slider__manual .manual__btn:not(:last-child), 
.slider__auto div:not(:last-child) {
    margin-right: 12px;
}*/

.slider__manual .manual__btn:hover {
    background-color: transparent !important;
}

#radio1:checked ~ .slider__auto .auto__btn__1, 
#radio2:checked ~ .slider__auto .auto__btn__2, 
#radio3:checked ~ .slider__auto .auto__btn__3{
    background-color: transparent !important;
}

#radio1:checked ~ .primario {
    margin-left: 0%;
}

#radio2:checked ~ .primario {
    margin-left: -25%;
}

#radio3:checked ~ .primario {
    margin-left: -50%;
}


/* tablet */

@media (min-width: 768px) {
    .img__mobile {
        display: none;
    }
    .img__tablet {
        display: block;
    }

    .slider__content {
        top: 58px;        
    }

    .slider__manual, 
    .slider__auto {
    margin-top: 393px;
    margin-left: 143px;  
    }

    .slider__manual, 
    .slider__auto {
    position: absolute;
    width: 100%;    
    margin-top: 197px;
    margin-left: 42px; 
    display: flex;
    gap: 320px;
    
}
}

/* desktop */

@media (min-width: 1440px) {
    .img__desktop {
        display: block;
    }

    .img__tablet {
        display: none;
    }

    .slider__content {
        top: 58px;        
    }

    .slider__manual, 
    .slider__auto {
    margin-top: 393px;
    margin-left: 143px; 
    gap: 639px; 
    }
}
