/* mobile */
.cabecalho__mobile {
    display: none;
}

@media (min-width: 376px) {
    .cabecalho__mob {
        display: none;
    }
}

/* tablet*/

@media (min-width: 769px) {
    .cabecalho {
        display: none;
    }
}