.cabecalho {
    display: flex;
    position: absolute;
    width: 768px;
    height: 58px;
    background-color: var(--cor-cinza);
    justify-content: space-between;
}

.cabecalho__logo {
    display: flex;
    align-items: center;
    width: 429.56px;
    height: 24px;
    top: 18px;
    left: 23px;
    gap: 20px;
}

.nav {
    display: flex;
    position: relative;   
    justify-content: space-between;     
}

.nav a {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
}